.Dulces {
    text-align: center;
  }
  
  .Dulces-logo {
    max-width: 100px;
  }
  
  .Dulces-header {
    background-color: rgba(252, 0, 0, 0.795);
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .Dulces-header:after {
    content: "";
    position: absolute;      
    display: block;
    height: 10px;
    top: 62px; 
    left:0;
    right:0;
    background:
      linear-gradient(
      45deg, transparent 33.333%,
      rgba(253, 10, 10, 0.637) 33.333%, rgba(253, 10, 10, 0.637) 66.667%,
      transparent 66.667%
      ),linear-gradient(
      -45deg, transparent 33.333%,
      rgba(253, 10, 10, 0.637) 33.333%, rgba(253, 10, 10, 0.637) 66.667%,
      transparent 66.667%
      );
  
    background-size: 8px 20px;
    background-position: 0 -10px;
    z-index: -1;  
  }
  
  .Products__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .Wellcome__container {
    margin-top: 15px;
  }