.cart {
  height: auto;
  width: 40px;
  z-index: 1;
}

.CheckOut__container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.CheckOut__container > h4 {
  margin: 15px;
}

@media (max-width: 992px) {
  .CheckOut__container {
    width: 50%;
  }
}

.CheckOut__container > button:hover{
  background-color: #ffffff;
  color: #1883ba;
}

.linkToHome {
  background-color: antiquewhite;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  height: 20px;
  padding: 7px 10px;
  text-decoration: none;
}

.linkToHome:hover {
  background-color: rgb(247, 215, 174);
}

.Products__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.ShoppingCart {
  text-align: center;
}


.ShoppingCart-header {
  align-items: center;
  background-color: rgba(252, 0, 0, 0.795);
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: space-evenly;
}

.ShoppingCart-header:after {
  background:
    linear-gradient(
    45deg, transparent 33.333%,
    rgba(253, 10, 10, 0.637) 33.333%, rgba(253, 10, 10, 0.637) 66.667%,
    transparent 66.667%
    ),linear-gradient(
    -45deg, transparent 33.333%,
    rgba(253, 10, 10, 0.637) 33.333%, rgba(253, 10, 10, 0.637) 66.667%,
    transparent 66.667%
  );
  background-position: 0 -10px;
  background-size: 8px 20px;
  content: "";
  display: block;
  height: 10px;
  left:0;
  position: absolute;
  right:0;
  top: 62px;
  z-index: -1;  
}

.Title__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Wellcome__container {
  margin-top: 15px;
}

.things__Container {
  margin-left: 10px;
  position: relative;
}

.things {
  background: #5cb85c;
  border: 1px solid #2d852d;
  border-radius: 0 50% / 0 100%;
  height: 7px;
  position: absolute;
  top: 16px;
  left: 10px;
  width: 14px;
  z-index: -1;
}

.things-1 {
  border-radius: 50%;
  box-shadow: 6px 2px 0 #d9534f;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-box-shadow: 6px 2px 0 #d9534f;
  -webkit-box-shadow: 6px 2px 0 #d9534f;
  position: absolute;
  width: 20px;
  z-index: -1;
}

.things-2 {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid rgb(157, 9, 177);
  height: 0px;
  left: 5px;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  position: absolute;
  top: 11px;
  width: 10px;
  z-index: -2;
}

.things-3 {
  background: #ebac38;
  border-radius: 26%;
  height: 5px;
  -webkit-transform: rotate(123deg);
  -moz-transform: rotate(123deg);
  -ms-transform: rotate(123deg);
  -o-transform: rotate(123deg);
  transform: rotate(123deg);
  position: absolute;
  top: 10px;
  right: -5px;
  width: 31px;
  z-index: -1;
}